Задание 1**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
  - оценка 2 и меньше - низкий рейтинг
  - оценка 4 и меньше - средний рейтинг
  - оценка 4.5 и 5 - высокий рейтинг
​
Результат классификации запишите в столбец class

In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv('ml-latest-small/movies.csv')
ratings = pd.read_csv('ml-latest-small/ratings.csv')

In [9]:
movie_group = ratings[['movieId','rating']].groupby('movieId').mean().sort_values('rating', ascending=False)

In [10]:
movie_group.head()

         rating
movieId
88448       5.0
100556      5.0
143031      5.0
143511      5.0
143559      5.0

In [30]:
movie_group = pd.merge(movies, movie_group, how='left', on='movieId')

In [31]:
movie_group.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9742 entries, 0 to 9741
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
 3   rating   9724 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 380.5+ KB

In [22]:
def movie_rating(row):
    if row['rating'] <= 2:
        return 'Low'
    elif row['rating'] > 2 and row['rating'] <= 4:
        return 'Middle'
    elif row['rating'] == 4.5 or row['rating'] == 5:
        return 'High'

In [34]:
movie_group['class'] = movie_group.apply(movie_rating, axis=1)

In [35]:
movie_group.head()

,movieId,title,genres,rating,class
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.920930,Middle
1,2,Jumanji (1995),Adventure|Children|Fantasy,3.431818,Middle
2,3,Grumpier Old Men (1995),Comedy|Romance,3.259615,Middle
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.357143,Middle
4,5,Father of the Bride Part II (1995),Comedy,3.071429,Middle

**Задание 2**
Используем файл keywords.csv.
​
Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце 'region' пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим 'undefined'.
​
Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:
​
geo_data = {
​
    'Центр': ['москва', 'тула', 'ярославль'],
​
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
​
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
​
}
​
Результат классификации запишите в отдельный столбец region.

In [43]:
import regex as re

In [38]:
keywords = pd.read_csv('f_python_11/keywords.csv')
geo_data = {'Центр': ['москва', 'тула', 'ярославль'],
            'Северо-Запад': ['петербург', 'псков', 'мурманск'],
            'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']}

In [37]:
keywords.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [41]:
def geo_keywords(word):
    tmp = 0
    for i,j in geo_data.items():
        for reg in j:
            if re.search(rf"{reg}", word):
                tmp = 1
                return i
    if tmp == 0:
        return 'undefined'

In [44]:
keywords['region'] = keywords['keyword'].apply(geo_keywords)

In [49]:
keywords.groupby('region').count().head()

                keyword  shows
region
undefined         99253  99253
Дальний Восток       94     94
Северо-Запад        266    266
Центр               387    387

In [52]:
keywords[ (keywords['region']=='Дальний Восток')]

                                       keyword   shows          region
1063                       фарпост владивосток  176951  Дальний Восток
2175                            дром хабаровск   98361  Дальний Восток
3206                          дром владивосток   73084  Дальний Восток
3275                        100 сп владивосток   76418  Дальний Восток
3687                           авито хабаровск   63736  Дальний Восток
...                                        ...     ...             ...
90402                     аэропорт владивосток    4658  Дальний Восток
92442  монастырев владивосток официальный сайт    3870  Дальний Восток
92843                    проститутки хабаровск    4120  Дальний Восток
93872                        биглион хабаровск    3890  Дальний Восток
95572                 точное время владивосток    4142  Дальний Восток

[94 rows x 3 columns]