Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [19]:
movies = pd.read_csv('ml-latest-small/movies.csv')
ratings = pd.read_csv('ml-latest-small/ratings.csv')

In [9]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [20]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [54]:
ratings_5 = ratings.query('rating == 5.0').filter(items = ['movieId','rating'])
movie_id_top = ratings_5.groupby('movieId').count().sort_values('rating', ascending=False).head(1)

In [57]:
movies.merge(movie_id_top, on='movieId', how='inner')

   movieId                             title       genres  rating
0      318  Shawshank Redemption, The (1994)  Crime|Drama     153

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [100]:
power = pd.read_csv('python_10/power.csv')
power_2 = power.query('year > 2005 and year < 2010')

In [104]:
power_2[ power_2['country'].str.contains('ia', case=False) ]['country'].unique()

array(['Estonia', 'Lithuania', 'Latvia'], dtype=object)

In [101]:
power_2 = power_2[ (power_2['country']=='Lithuania') | (power_2['country']=='Estonia') | (power_2['country']=='Latvia')]

In [102]:
power_2 = power_2[ power_2['quantity'] > 0]
power_2 = power_2[ (power_2['category']==4) | (power_2['category']==12) | (power_2['category']==21)]

In [106]:
power_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 238 entries, 10617 to 253985
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   country   238 non-null    object
 1   year      238 non-null    int64
 2   quantity  238 non-null    float64
 3   category  238 non-null    int64
dtypes: float64(1), int64(2), object(1)
memory usage: 9.3+ KB

In [105]:
power_2['quantity'].sum()

164555.0

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

In [131]:
tables = pd.read_html("http://osxh.ru/content/hotkey_mac_os_x")

In [181]:
for i in range(len(tables)):
    tmp = pd.DataFrame(tables[i])
    print(tmp.head(5))
    print('---=------=------=------=------=------=------=------=---')

     0       1   2            3               4   5
0  Имя  Пароль NaN  Регистрация  Забыли пароль? NaN
---=------=------=------=------=------=------=------=---
                                                   0          1
0  Занести текущую страницу в закладки. Работает ...  Command+D
---=------=------=------=------=------=------=------=---
                             Вариант режима загрузки  \
0  Загрузка в "безопасном режиме " и отключает Login
1  Загрузить OS X в режиме ведения подробного про...
2          Запуск OS X в однопользовательском режиме
3  Запустить режим тестирования "железа" (необход...
4  Запуск "менеджера загрузки" с возможностью выб...

  Клавиша / Сочетание клавиш
0                      Shift
1                  Command+V
2                  Command+S
3                          D
4   Option во время загрузки
---=------=------=------=------=------=------=------=---
               0                                           1
0  Command+Space            Переключить раскладку клавиатуры
1      Command+A              Выбрать все ( в активном окне)
2      Command+C                      Скопировать выделенное
3      Command+X  Вырезать выбранное (с записью в Clipboard)
4      Command+V                Вставить объект из Clipboard
---=------=------=------=------=------=------=------=---
                         0                                                  1
0          Command-Shift-3  Сделать скриншот экрана и выложить его на Рабо...
1          Command-Shift-4  Сделать копию выбранной зоны экрана, если посл...
2  Command-Control-Shift-3  Сделать скриншот экрана и сохранить его в Clip...
3  Command-Control-Shift-4  Сделать копию выбранной зоны экрана, если посл...
---=------=------=------=------=------=------=------=---
  Комбинация                                     Действие
0  Command+F                                       Искать
1  Command+H                   Скрыть текущее окно Finder
2  Command+I            Открыть окно свойств ( Инспектор)
3  Command+J  Показать окно настроек показа текущего окна
4  Command+K         Открыть диалог подключения к серверу
---=------=------=------=------=------=------=------=---
               0                                                  1
0  Control+Space                      Открыть окно поиска Spotlight
1        Command  Навести мышкой на найденный файл и зажать comm...
---=------=------=------=------=------=------=------=---
             0                                                  1
0        Cmd+N                             Создать новую картинку
1  Cmd+Shift+E                Экспорт изображения в другой формат
2  Cmd+Shift+V            Переключиться в режим векторной графики
3    Cmd+Alt+i                        Изменить размер изображения
4        Cmd+F  Режим изменения изображения (изменение пропорц...
---=------=------=------=------=------=------=------=---